<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IVoidDaysLoginService" />
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://3.16.24.128:8733/Design_Time_Addresses/VoidDaysServerLibrary/VoidDaysLoginService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVoidDaysLoginService"
                contract="ServiceReference1.IVoidDaysLoginService" name="BasicHttpBinding_IVoidDaysLoginService" />
        </client>
    </system.serviceModel>
</configuration>